body {

}

#site_header {
    background-color: lightblue;
    background-image: url(../img/pattern.png);
    height: 100px;
    
}

.logo {
    height: 50px;
    padding-top: 2rem;

}


.sottotitolo {
    color: gray;
    font-size: large;
}

.booleaner {
    color: lightskyblue;
}

.data {
    font-size: small;
}

h1 {
    font-size: 40px;
}

.trafiletto {
    font-size: 12px;
}

p {
    font-size: 25px;
}

.evidence {
    background-color: yellow;
}

thead {
    background-color: royalblue;

}

.tabella {

    background-color: powderblue;
}

.dimension_table {
    width: 50%;
}

.tt {
    text-align: left;
}

.foto1 {
    background-image: url(../img/monitor.jpg);
    width: 312px;
    height: 208px;
}

.foto2 {
    background-image: url(../img/graph.jpg);
    width: 311px;
    height: 207px;
}

.testo {
    color: white;
}