body {
    margin: 0 30%;
    text-align: auto;
    font-size: 25px;
}

.container_sfondo {
    display: inline-block;    
    background-color: lightblue;
    text-align: center;
}


.sottotitolo {
    color: gray;
    font-size: large;
}

.booleaner {
    color: lightskyblue;
}

.data {
    font-size: small;
}

h1 {
    font-size: 60px;
}

.trafiletto {
    font-size: 12px;
}

p {
    font-size: 25px;
}

.evidence {
    background-color: yellow;
}

thead {
    background-color: royalblue;

}

.tabella {

    background-color: powderblue;


}